.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items : center;
  justify-content:center;
  color: white;
  background-image: linear-gradient(79deg, #b0a3b0 ,#5b1780 48%, #5f23d0 );
}

.form-container,.login-form, .register-form{
  display:flex;
  flex-direction: column;
  align-items: center;

}
label{
  text-align:left;
  padding :0.25rem 0;
}
input {
  margin:0.5rem 0;
  padding: 1 rem;
  border:none ;
  border-radius: 5px;
}
button {
  border:none;
  background-color: white;
  padding :20px;
  border-radius: 10px;
  cursor: pointer;
  color: #5b1780;

}
.link-btn{
  background :none;
  color:white;
  text-decoration: underline;
  

}
